body {
  background-color: black !important;
  color: white !important;
  font: 400 20px courier !important;
}

input,
textarea {
  background-color: black !important;
  color: white !important;
  border: 1px solid black !important;
  width: 97% !important;
  outline: none !important;
  color: transparent !important;
  font: 400 20px courier !important;
  text-shadow: 0 0 0 white !important;
}

#inputdiv {
  position: fixed !important;
  bottom: 0 !important;
  width: 98% !important;
  margin-top: 10px !important;
  background-color: black !important;
}

#s {
  width: 0px !important;
  height: 0px !important;
}

span::selection,
input::selection,
body::selection {
  background-color: transparent !important;
  color: white !important;
}
